<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Emprendimiento de Ropa ilustrada - Amor por el arte textil</title>
    <meta name= "description=" content="Prendas únicas y originales, telas suaves y cómodas, modelos muy cancheros" >
    <meta name= "keywords=" content="moda, arte, diseño, diseño gráfico, diseñadoras, ilustración, estampas, accesorios, naturaleza, creatividad, original">
    <script src="https://kit.fontawesome.com/726e180aed.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="stylesheet" href="../css/estiloCSS.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<title> Prendas </title>
</head>
<body>
    <header>
        <a href="../index.html" class="menuNormal"><img src="../img/logo-05.png" alt=""></a>
        <nav class="lista menuNormal"> 
            <ul>
                <li class="listaNav red-hover-outline"><a href="../views/prendas.html"> PRENDAS </a>
                    <!-- PROBANDO SUBMENÚ -->
                    <ul>
                        <li><a href="#remeras"> Tops y Remeras </li></a>
                        <li><a href="#vestidos"> Vestidos </li></a>
                        <li><a href="#shorts"> Shorts y Polleras </li></a>
                        <li><a href="#pantalones"> Pantalones </li></a>
                        <li><a href="#buzos"> Sweaters y Camperas </li></a>
                    </ul> 
                </li>
        
                <li class="listaNav pink-hover-outline"><a href="../views/accesorios.html"> ACCESORIOS </a>
                    <!-- PROBANDO SUBMENÚ -->
                    <ul>
                        <li><a href="accesorios.html#pañuelos"> Pañuelos </li></a>
                        <li><a href="accesorios.html#aritos"> Aritos y Collares </li></a>
                        <li><a href="accesorios.html#mochilas"> Bolsos y Mochilas </li></a>
                        <li><a href="accesorios.html#sombreros"> Sombreros </li></a>
                    </ul> 
                </li>
                <li class="listaNav orange-hover-outline"><a href="ofertas.html"> OFERTAS </a></li>
                <li class="listaNav purple-hover-outline"><a href="blog.html"> BLOG </a></li>
                <li class="carrito"> <a href="carrito.html"> <i class="fas fa-shopping-cart"> </i></a></li>
                <li class="perfil"> <a href="perfil.html"> <i class="fas fa-user-alt"></i> </i></a></li>
            </ul> 
        </nav>
        <!-- Menu hamburguesa bootstrap -->
    <nav class="navbar navbar-light menuHamburguesa ">

        
        <a href="../index.html"><img src="../img/logo-05.png" alt=""></a>
      
        <!-- Collapse button -->
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
              class="fas fa-bars fa-1x"></i></span></button>
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
      
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a href="prendas.html"> PRENDAS </a>
            </li>
            <li class="nav-item">
                <a href="accesorios.html"> ACCESORIOS </a>
            </li>
            <li class="nav-item">
                <a href="ofertas.html"> OFERTAS </a>
            </li>
            <li class="nav-item">
                <a href="blog.html"> BLOG </a>
            </li>
            <li class="nav-item">
                <a href="carrito.html"> <i class="fas fa-shopping-cart"> </i></a> 
                &emsp; <a href="perfil.html"> <i class="fas fa-user-alt"></i> </i></a>
            </li>
            

          </ul>
        </div>
      </nav>
    </header>

<div class="divExterno">    
    <h2 class="h2Prendas"> Tops y Remeras </h2> 
    <div id="remeras"></div>
</div>


<div id="main"> 
    <div class="prenda">
        <img src="../img/rem1.png" alt=""> 
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/rem2.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/rem5.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/rem6.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/rem3.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>
</div>



<hr>

<div class="divExterno">    
    <h2 class="h2Prendas" > Vestidos</h2> 
    <div id="vestidos"></div>
</div>


<div id="main"> 
    <div class="prenda"> 
        <img src="../img/ves1.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>


    <div class="prenda"> 
        <img src="../img/ves2.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>


    <div class="prenda"> 
        <img src="../img/ves7.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>


    <div class="prenda"> 
        <img src="../img/ves4.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>


    <div class="prenda"> 
        <img src="../img/ves5.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/ves6.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>
</div>


<hr>

<div class="divExterno">   
    <h2 class="h2Prendas"> Shorts y Polleras </h2>
    <div id="shorts" ></div>
</div>

<div id="main"> 
    <div class="prenda">
        <img src="../img/short playa.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/short mango.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/short orange.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>
</div>


<hr>

<div class="divExterno"> 
    <h2 class="h2Prendas"> Pantalones </h2>
    <div id="pantalones"></div>
</div>

<div id="main"> 
    <div class="prenda"> 
        <img src="../img/pant1.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/pant2.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda"> 
        <img src="../img/pant3.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda">
        <img src="../img/pant4.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>
</div>


<hr>

<div class="divExterno">
    <h2 class="h2Prendas"> Sweaters y Camperas </h2>
    <div id="buzos"></div>
</div>  


<div id="main"> 
    <div class="prenda">
        <img src="../img/sw6.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda">
        <img src="../img/sw1.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda">
        <img src="../img/sw2.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda">
        <img src="../img/sw3.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>

    <div class="prenda">
        <img src="../img/sw4.png" alt="">
        <form action="" class="talles">
            <select name="" id="">
                <option value=""> S </option>
                <option value=""> M </option>
                <option value=""> L </option>
            </select>
            <a href="carrito"> <i class="fas fa-shopping-cart"> </i></a>
        </form>
    </div>
</div>

<footer>
    <p> Ándale Mono 2021 - Buenos Aires, Argentina.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    

</body>
</html>